@model JokesWebApp.Models.jokes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>jokes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jokesPergunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jokesPergunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JokeResposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JokeResposta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">De Volta à Lista</a>
</div>
