@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo às Piadas Secas</h1>
    <h5>António Reis</h5> 
    <p>Aprenda Sobre <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://imgv2-1-f.scribdassets.com/img/document/578608894/original/1adc9ddf12/1693699272?v=1" alt="Piadas Do Deserto" width="30%" height="30%">
</div>
